<% if @subsidiaries.empty? %>
  <p>Não há filiais cadastradas</p>
<% end %>

<%= @subsidiaries.each do |subsidiary| %>
  <p><%= subsidiary.name %></p>
<% end %>

<%= link_to 'Adicionar filial', new_subsidiary_path %>