<% if @banned_customers.empty? %>
  <p>Não há clientes banidos.</p>
<% else %>
  <table>
    <tr>
      <th><%= BannedCustomer.human_attribute_name(:cpf) %></th>
      <th><%= BannedCustomer.human_attribute_name(:user) %></th>
    </tr>
    <% @banned_customers.each do |banned_customer| %>
      <tr>
        <td><%= link_to banned_customer.cpf, subsidiary_banned_customer_path(banned_customer.subsidiary.id, banned_customer.id) %></td>
        <td><%= banned_customer.user.email %></td>
      </tr>
    <% end %>
  </table>
<% end %>