<div class="mt-5">
  <p><%= link_to 'Voltar', root_path %></p>
  <%= link_to 'Adicionar produto', new_product_path, class: 'btn btn-primary' %>

  <% if @products.empty? %>
    <p>
    Não há produtos cadastrados
    </p>
  <% end %>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3 my-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to product.name, product %>
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
